{
  "root": true,
  "extends": "@upstatement/eslint-config/react",
  "rules" : {
    "template-curly-spacing" : "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  }
}
